<nz-modal
  [(nzVisible)]="isVisible"
  nzTitle="Создать заметку"
  (nzOnCancel)="handleCancel()"
  (nzOnOk)="handleOk()"
  [nzFooter]="buttons"
>
  <ng-container *nzModalContent>
    <form [formGroup]="createNoteForm">
      <nz-form-item>
        <nz-form-control nzErrorTip="Введите заголовок заметки!">
          <input
            nz-input
            placeholder="Заголовок заметки"
            formControlName="title"
            nzRequired
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control nzErrorTip="Введите описание заметки!">
          <input
            nz-input
            placeholder="Описание заметки"
            formControlName="description"
            nzRequired
          />
        </nz-form-control>
      </nz-form-item>
      <nz-form-item>
        <nz-form-control>
          <label
            nz-checkbox
            formControlName="remind"
            (input)="onCheckBoxChanged($event)"
            >Напоминание</label
          >
        </nz-form-control>
      </nz-form-item>
      <nz-form-item *ngIf="createNoteForm.value.remind">
        <nz-form-control>
          <nz-select formControlName="when">
            <nz-option
              [nzValue]="option"
              [nzLabel]="option"
              *ngFor="let option of remindDates"
            ></nz-option>
          </nz-select>
        </nz-form-control>
      </nz-form-item>
    </form>
    <div class="tags">
      <app-tag
        *ngFor="let tag of tags$ | async"
        [tagData]="tag"
        (clicked)="addOrDeleteTag($event)"
        [isPicked]="tagsForNote"
      />
    </div>
  </ng-container>
</nz-modal>

<ng-template #buttons>
  <button nz-button nzType="default" (click)="handleCancel()">Отмена</button>
  <button
    nz-button
    nzType="primary"
    (click)="handleOk()"
    [disabled]="createNoteForm.invalid"
  >
    Сохранить
  </button>
</ng-template>
