.header {
  display: flex;
  border-bottom: 2px solid rgb(24, 144, 255);
  margin-bottom: 10px;

  &__item {
    padding: 10px;
    cursor: pointer;
    color: rgb(24, 144, 255);
    font-size: 24px;
    margin-bottom: 0px;
    &:hover {
      color: lighten(rgb(24, 144, 255), 20%);
    }
  }
}

.active {
  color: darken(rgb(24, 144, 255), 40%);
}
